body{
    background-color: whitesmoke !important;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap: 3rem;
    text-align: center !important;
}
span{
    font-weight: bold;
}
.card{
    border-radius: 5px;
    box-shadow: 5px 5px 2px  rgb(230, 198, 198);
    /* max-height: 50%; */
    /* height : ; */

    /* overflow: hidden; */
    /* max-height: 50rem; */
}
.flag{
    width: 100%;
    max-height: 100%;
}
